.filmsWrapper {
  position: relative;
  text-align: center;
  display: flex;
  min-height: 85vh;
  flex-direction: column;
  justify-content: space-between;

  .filmsContainer {
    margin-top: 20px;
    height: 100%;
  }

  .pagesWrapper {
    flex: 0 1 auto;
  }

  .error {
    position: absolute;
    top: 0;
    left: calc(50% - 10vh);
    margin-bottom: 20px;
    color: red;
    font-weight: bold;
  }
}