.filmsWrapper {
  position: relative;
  text-align: center;
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  .filmsContainer {
    margin-top: 20px;
  }

  .pagesWrapper {
    margin: 0 10px;
  }

  .error {
    position: absolute;
    top: 0;
    left: calc(50% - 10vh);
    margin-bottom: 20px;
    color: red;
    font-weight: bold;
  }
}