.filmsWrapper {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  //height: 100%;
  min-height: 100vh;
  justify-content: space-between;


  .filmsContainer {
    margin-top: 20px;
    flex-grow: 1;
  }

  .pagesWrapper {
    //border: 1px solid red;
    flex-grow: 0;
  }

  .error {
    position: absolute;
    top: 0;
    left: calc(50% - 10vh);
    margin-bottom: 20px;
    color: red;
    font-weight: bold;
  }
}