.aboutWrapper {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  align-items: center;
  min-height: 80vh;
  border-radius: 20px;
  padding: 0 10px;
  opacity: 0;

  animation: fade .5s ease;
  animation-fill-mode: forwards;
  transition: .5s ease;

  @keyframes fade {
    0% {
      opacity: 0
    }
    50% {
      opacity: .5
    }
    100% {
      opacity: 1
    }
  }

  .buttonWrapper {
    margin: 20px 0;
  }

  .contentWrapper {
    display: flex;
    word-break: break-word;
    justify-content: center;
    gap: 10px;
    max-width: 1200px;

    @media (max-width: 660px) {
      flex-wrap: wrap;
    }

    .poster {
      max-width: 400px;
      border-radius: 10px;
    }

    .data {
      background-color: rgba(255, 255, 255, .5);
      border-radius: 10px;
      padding: 10px;
    }
  }

  li {
    list-style: none;
  }
}