.app {
  display: flex;
  flex-direction: column;

  .content {
    flex-grow: 1;
  }

  .appBar {
    display: flex;
    justify-content: center;
    height: 50px;
    user-select: none;
    background: linear-gradient(to right, #40e0d0, rgb(255, 0, 128, .8));

    .barContainer {
      display: flex;
      align-items: center;

      .logoLetter {
        display: block;
        padding: 18px 0;
        font-size: 32px;
        color: #262626;
        font-weight: bold;
        //border: 1px solid red;
      }

      .logoImage {
        display: block;
        //border: 1px solid red;
      }
    }
  }
}

