.app {
  display: flex;
  flex-direction: column;

  .appBar {
    display: flex;
    justify-content: center;
    height: 50px;
    user-select: none;
    background: linear-gradient(to right, #40e0d0, rgb(255, 0, 128, .8));

    .barContainer {
      display: flex;
      align-items: center;

      .logoImage {
        display: block;
        height: 35px;
      }
    }
  }
}

