body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, rgb(255, 255, 0, .5), rgb(255, 0, 0, .5));
    min-height: 100vh;
}
